body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  padding-top: 80px; /* To account for fixed header */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Add any additional global styles */